*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%; /* 10px / 16px = 0.625 */
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #1d1d1d;
  overflow-x: hidden;
}

strong {
  font-weight: 500;
}
